/* Base Styles */

html {
  font-family: 'Fira Sans', sans-serif;
  box-sizing: border-box;
}

.formlist {
  list-style: none;
}
.divider1 {
  height: 5px;
  background: black;
}

.divider2 {
  height: 4px;
  background: white;
}

.divider3 {
  height: 3px;
  background: black;
  margin-bottom: 25px;
}

.divider4 {
  height: 3px;
  background: black;
}

.main-header {
  color: white;
  display: inline-block;
  font-size: 1.5em;
}

fieldset {
  border: none;
}


header {
  text-align: center;
  background: #333438;
  height: 75px;
}

.signup {
  text-align: center;
}

.signup-head {
  font-size: 1.5em;
  font-weight: bold;
}

.signup-text {
  margin-bottom: 50px;
}

.contact, .newsletter {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 15px;
}

.formdiv {
  margin-top: 25px;
}

input[type=text], input[type=email], input[type=tel] {
  width: 95%;
  height: 40px;
  background-color: #dbdbdb;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 5px;
}

input:focus {
  border: 2px solid;
}

select {
  height: 60px;
  width: 95%;
  background-color: #dbdbdb;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 5px;
}

#zip {
  width: 40%;
}

input[type=checkbox], input[type=radio] {
  margin-bottom: 15px;
}

textarea {
  width: 100%;
  background-color: #dbdbdb;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 0px;
  border: none;
}

button {
  width: 100%;
  height: 75px;
  background-color: #1ab2a8;
  color: white;
  font-size: 1.5em;
  text-align: center;
}

footer {
  text-align: center;
  font-style: italic;
}

ul {
  padding-left: 0;
}

/* Media Queries */

@media (min-width: 768px) {

.formdiv {
max-width: 600px;
margin: 0 auto;
}

li {
display: flex;

}

li label {
margin: auto;
flex: 1;
}

li input, select {
flex: 2;
}

#zip {
  flex: 1;
  justify-content: flex-start;
}



}
