.divider1 {
  height: 5px;
  background: black;
}

.divider2 {
  height: 4px;
  background: white;
}

.divider3 {
  height: 3px;
  background: black;
}

.divider4 {
  height: 3px;
  background: black;
}
